* {
    margin: 0;
    padding: 0;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to top, rgba(19, 21, 25, 0.5), rgba(19, 21, 25, 0.5)), url('https://api.berryapi.net/bing/random/');
    z-index: -1;
}

.develop-card {
    z-index: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    text-align: center;
    color: #FFF;
    background-image: linear-gradient(135deg, rgba(102, 126, 234, 0.5), rgba(118, 75, 162, 0.5));
    width: 60vw;
    padding: 50px 15px;
    border-radius: 5px;
}

.develop-card h1 {
    font-size: 3em;
    font-weight: 700;
    letter-spacing: 0.25em;
}

.develop-card h2 {
    font-size: 1.7em;
    font-weight: 400;
    letter-spacing: 0.1em;
    margin-top: 0.4em;
}

.develop-card hr {
    width: 10em;
    margin: 1.5em auto;
}

.develop-card button {
    background: transparent;
    border: solid #FFF 1px;
    border-radius: 7px;
    margin-top: 15px;
    transition: background-color 1s;
    -moz-transition: background-color 1s;
    -webkit-transition: background-color 1s;
    -o-transition: background-color 1s;
}

.develop-card button:hover {
    background-color: rgba(255, 255, 255, 0.4)
}

.develop-card a {
    display: inline-block;
    text-decoration: none;
    line-height: 1.2em;
    padding: 8px 13px;
    color: #FFF;
    font-size: 1.2em;
}