html {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    overflow-x: hidden;
    font-size: 16px;
}

body {
    color: #34495e;
    background-color: #fff;
    overflow-x: hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'PingFang SC', 'Microsoft YaHei', 'Source Han Sans SC', 'Noto Sans CJK SC', 'WenQuanYi Micro Hei', sans-serif;
}

a {
    color: #2980B9;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

ol,
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.cover-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

/* main-header */
.main-header {
    color: #FFF;
    background-color: #2980B9;
    position: relative;
    z-index: 10;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, .1) inset;
}

.main-header-wordmark {
    height: 160px;
    border-bottom: 1px solid #296EA7;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.main-header-navbar {
    border-top: 1px solid #288ec7;
}

/* main-header:user */
.main-head-top {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 15px;
    font-size: 1em;
}

.return-old-version a {
    color: #FFF;
}

.main-user {
    margin-left: 10px;
    display: inline-block;
}

.main-user>span>a {
    color: #FFF;
    border-bottom: 1px dotted #FFF;
    padding-bottom: 1px;
}

.main-user-menu {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 5rem;
    padding: .5rem 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    background-color: #FFF;
    border: none;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.main-user-menu.show{
    display: block;
}

.main-user-item {
    display: block;
    width: 100%;
    padding: 2px 15px;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: center;
    white-space: nowrap;
    background-color: transparent;
}

/* main-header:search */
.main-search {
    width: 125px;
    position: absolute;
    z-index: 2;
    right: 0;
    margin: 15px 10px;
    border-radius: 4px;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.main-search:hover,
.main-search:focus {
    box-shadow: 0 0 5px #CCC;
}

.main-search-input {
    height: 26px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, .6);
    color: #EEE;
    padding: 0 0.75em;
    font-size: 12px;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.main-search-input:hover,
.main-search-input:focus {
    border: 1px solid rgba(255, 255, 255, .8);
    background: transparent;
}

.main-search-input::-moz-placeholder {
    color: rgba(255, 255, 255, .6);
}

.main-search-input:-ms-input-placeholder {
    color: rgba(255, 255, 255, .6);
}

.main-search-input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, .6);
}

.main-search-submit {
    position: absolute;
    padding: 0;
    top: 1px;
    right: 0.5rem;
    font-size: 14px;
    color: rgba(255, 255, 255, .6);
    background: transparent;
    opacity: 0.75;
    filter: alpha(opacity=75);
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.main-search-submit:hover {
    color: #FFF;
    filter: alpha(opacity=100);
}

.main-wordmark {
    text-align: center;
    padding: 60px 0 20px;
}

.main-wordmark h1{
    font-size: 36px;
}

.main-wordmark h4{
    font-size: 18px;
}

.main-header-bar,
.main-content {
    position: relative;
    border: 0;
    max-width: 970px;
    margin: 0 auto;
    padding: 0;
}

@media screen and (max-width: 750px) {
    .main-header {
        box-shadow: 0 0 5px #666;
    }

    .main-header-wordmark {
        height: 180px;
    }

    .main-wordmark {
        padding-top: 35px;
    }

    .main-wordmark h1 {
        font-size: 1.8em;
        margin-top: 1.5em;
    }

    .main-wordmark h4 {
        font-size: 1em;
    }
}

/* main-header:nav */
#main-header-nav {
    padding: 0;
    height: 50px;
}

.main-nav {
    width: 100%;
}

.main-nav>li>a {
    display: inline-block;
    position: relative;
    z-index: 11;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    padding: 0 0.9em;
    font-weight: 500;
    height: 50px;
    line-height: 50px;
    width: 100%;
    color: #FFF;
    text-align: center;
    border-bottom: 1px solid transparent;
    background-color: transparent !important;
}

.main-nav>li>a.active {
    color: #2980B9 !important;
    background-color: #fff !important;
}

.main-nav-more {
    position: absolute;
    z-index: 10;
    top: 50px;
    left: 0;
    width: 100%;
    height: 0;
    color: #000;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 0 10px #7F8C8D;
    background: -moz-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(245, 245, 245) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 255, 255)), color-stop(100%, rgb(245, 245, 245)));
    background: -webkit-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(245, 245, 245) 100%);
    background: -o-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(245, 245, 245) 100%);
    background: -ms-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(245, 245, 245) 100%);
    background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(245, 245, 245) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
    opacity: 0;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    overflow: hidden;
}

.main-nav-more.active {
    height: 160px;
    opacity: 1;
}

.main-nav-more>li {
    width: 100%;
    height: 160px;
    display: none;
    overflow: hidden;
}

.main-nav-more>li.active {
    display: block;
}

.main-nav-item {
    text-align: center;
    padding: 0;
}

.main-nav-list {
    overflow: hidden;
    margin-top: 20px;
}

.main-nav-list li {
    float: left;
    width: 33%;
    height: 30px;
    line-height: 30px;
}

.main-nav-list li a {
    color: #34495e;
    font-weight: 400;
}

.main-nav-list li a:hover {
    color: #2980B9;
}

.main-nav-words {
    position: relative;
    display: block;
    right: 10px;
    margin-top: 25px;
    color: #2980B9;
    font-weight: 500;
}

.main-nav-img {
    height: 160px;
    vertical-align: middle;
    opacity: 0.85;
    filter: alpha(opacity=85);
}

@media screen and (min-width: 750px) and (max-width: 1000px) {
    .main-header-bar {
        width: 755px;
    }

    .main-nav>li>a {
        padding: 0 0.62em;
        font-size: 14px;
    }

    .main-nav-more {
        display: none !important;
        height: 0;
        visibility: hidden;
    }
}

@media screen and (max-width: 750px) {
    #main-header-nav {
        height: auto;
    }

    .container-fluid,
    #main-header-nav {
        width: 100%;
        padding: 0;
    }

    .main-nav {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .main-nav>li {
        flex: 0 0 50% !important;
    }

    .main-nav>li>a {
        padding: 0 0.62em;
        font-size: 12px;
    }

    .main-nav-more {
        display: none !important;
    }

    .navbar-header {
        position: absolute;
        z-index: 5;
        top: -35px;
        right: 10px;
    }

    .navbar-toggler {
        color: #FFF;
        padding: 0;
    }
    
}

/* main-footer */
.main-footer {
    position: relative;
    font-size: 12px;
    padding: 35px 0 5px;
    margin-top: 20px;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: 1px solid #e5e5e5;
}

/* common */
#toolbar {
    position: fixed;
    right: 0;
    bottom: 5vh;
    width: 50px;
    background-color: #FFF;
    z-index: 5;
    cursor: pointer;
    box-shadow: 0px 4px 12px 0px rgba(7, 17, 27, 0.1);
}

#toolbar .contactus>a,
#toolbar .returntop>a {
    display: block;
    color: #666;
    padding: 0;
    height: 50px;
    background-color: #FFF;
    border: none;
    margin: 0 auto;
}

.contactus>a{
    padding-top: 5px !important;
    width: 30px;
    font-size: 14px;
    line-height: 20px;
    border-bottom: 1px solid #edf1f2 !important;
}

.returntop>a{
    font-size: 16px;
    width: 16px;
    line-height: 50px;
}

.contactus-card {
    position: absolute;
    width: 172px;
    height: 212px;
    bottom: 0;
    right: 50px;
    background-color: #FFF;
    padding: 10px 15px;
    cursor: default;
    box-shadow: 0px 4px 12px 0px rgba(7, 17, 27, 0.1);
    -webkit-transition: opacity 0.25s, transform .3s;
    -moz-transition: opacity 0.25s, transform .3s;
    transition: opacity 0.25s, transform .3s;
    opacity: 0;
    -webkit-transform: scale(0.01);
    -ms-transform: scale(0.01);
    transform: scale(0.01);
    -webkit-transform-origin: 100% 95%;
    -ms-transform-origin: 100% 95%;
    transform-origin: 100% 95%;
}

.contact-method {
    font-size: 14px;
}

@media screen and (max-width: 767px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all .25s ease-out;
        -moz-transition: all .25s ease-out;
        -o-transition: all .25s ease-out;
        transition: all .25s ease-out;
    }

    .row-offcanvas-right {
        right: 0;
    }

    .row-offcanvas-left {
        left: 0;
    }

    .row-offcanvas-right .sidebar-offcanvas {
        right: -75%;
    }

    .row-offcanvas-left .sidebar-offcanvas {
        left: -75%;
    }

    .row-offcanvas-right.active {
        right: 75%;
    }

    .row-offcanvas-left.active {
        left: 75%;
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 75%;
    }
}

.sidebar-list-group.child, 
.sidebar-list-group.grand-child {
    margin: 0;
}

.sidebar-list-group .float-right {
    line-height: 1.25;
}

.sidebar-list-group.child li>.sidebar-list-item{
    padding-left: 45px;
    border-radius: 0;
    background: transparent url(../img/list-disabled.gif) no-repeat 32px 21px;
    background-color: #fafafa;
}
.sidebar-list-group.grand-child li>.sidebar-list-item{
    padding-left: 90px;
    border-radius: 0;
    background: transparent url(../img/list-disabled.gif) no-repeat 77px 21px;
    background-color: #fafafa;
}
.sidebar-list-group.child li>.sidebar-list-item:hover{
    background-color: #f5f5f5;
    border-color: #ECF0F1;
}
.sidebar-list-group.child li>.sidebar-list-item.active,
.sidebar-list-group.child li>.sidebar-list-item.active:focus,
.sidebar-list-group.child li>.sidebar-list-item.active:hover{
    border-color: #ECF0F1;
    background: #f5f5f5 url(../img/list-active.gif) no-repeat 32px 21px;
    color: #34495e;
    z-index: 2;
}
.sidebar-list-group.grand-child li>.sidebar-list-item.active,
.sidebar-list-group.grand-child li>.sidebar-list-item.active:focus,
.sidebar-list-group.grand-child li>.sidebar-list-item.active:hover{
    border-color: #ECF0F1;
    background: #f5f5f5 url(../img/list-active.gif) no-repeat 77px 21px;
    color: #34495e;
    z-index: 2;
}

.hidden {
    display: none;
}

.main-content-sidebar {
    padding: 20px 10px;
}

.main-content-body {
    padding: 20px 10px;
}

.sidebar-list-group {
    padding-left: 0;
    margin-bottom: 20px
}

.sidebar-list-group li:first-child>.sidebar-list-item {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px
}

.sidebar-list-group li:last-child>.sidebar-list-item {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px
}

.sidebar-list-group li>.sidebar-list-item {
    display: block;
    position: relative;
    margin-bottom: -1px;
    color: #34495e;
    padding: 10px 20px 10px 28px;
    background: transparent url(../img/list-disabled.gif) no-repeat 15px 21px;
    background-color: #fff;
    border: 1px solid #ECF0F1;
}

.sidebar-list-group li>.sidebar-list-item:hover {
    background-color: #f5f5f5;
    border-color: #ECF0F1;
}

.sidebar-list-group li>.sidebar-list-item.top {
    border-color: #3498DB;
    font-size: 18px;
    font-weight: 500;
    padding-left: 15px;
    background: #3498DB !important;
    color: #fff !important;
    z-index: 3;
}

.sidebar-list-group li>.sidebar-list-item.active,
.sidebar-list-group li>.sidebar-list-item.active:focus,
.sidebar-list-group li>.sidebar-list-item.active:hover {
    border-color: #ECF0F1;
    background: #f5f5f5 url(../img/list-active.gif) no-repeat 15px 21px;
    color: #34495e;
    z-index: 2;
}

.main-content-body .panel {
    box-shadow: none;
}

.main-content-body .panel-heading {
    position: relative;
    z-index: 3;
    border: 1px solid #f5f5f5;
    border-bottom: 1px solid #ddd;
    color: #3498DB;
    padding: 0 15px;
    background: #f5f5f5;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.main-content-body .panel-heading .panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
}

.main-content-body .panel-title-word {
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    line-height: 44px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.main-content-body .panel-title-word:hover {
    color: #2980B9;
}

.main-content-body .panel-title-word i {
    font-size: 14px;
}

.main-content-body .panel-body {
    position: relative;
    padding: 0;
    min-height: 200px;
}

.main-content-body .panel-footer {
    border: none;
    background-color: transparent;
}

.main-content-body .panel-footer .pager .glyphicon {
    font-size: smaller;
}

.main-content-body .panel-body:before {
    content: "";
    width: 100%;
    height: 200px;
    background: -moz-linear-gradient(top, rgb(245, 245, 245) 0%, rgb(255, 255, 255) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(245, 245, 245)), color-stop(100%, rgb(255, 255, 255)));
    background: -webkit-linear-gradient(top, rgb(245, 245, 245) 0%, rgb(255, 255, 255) 100%);
    background: -o-linear-gradient(top, rgb(245, 245, 245) 0%, rgb(255, 255, 255) 100%);
    background: -ms-linear-gradient(top, rgb(245, 245, 245) 0%, rgb(255, 255, 255) 100%);
    background: linear-gradient(to bottom, rgb(245, 245, 245) 0%, rgb(255, 255, 255) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#fff', GradientType=0);
    position: absolute;
    top: 0;
    z-index: -1;
}

.main-content-body .breadcrumb {
    float: right;
    list-style: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    font-size: 14px;
    margin-top: 20px;
}

.main-content-body .breadcrumb>li.active {
    color: #95A5A6;
}

.setting-font-size {
    position: absolute;
    top: 64px;
    right: -25px;
}

.setting-font-size>.btn {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-color: #ECF0F1;
    color: #95A5A6;
    outline: none !important;
}

.setting-font-size>.btn:active,
.setting-font-size>.btn:focus,
.setting-font-size>.btn:hover,
.setting-font-size>.btn.active,
.setting-font-size>.btn.active:hover {
    border-color: #e0e0e0;
    background: #f5f5f5;
    color: #95A5A6;
}

.btn.active, .btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}