.main-list-body {
    margin-top: -1px;
}

.main-content-body .panel-body:before {
    content: "";
    width: 100%;
    height: 200px;
    background: transparent;
    position: absolute;
    top: 0;
    z-index: -1;
}

.content-card h5 {
    font-size: 16px;
    font-weight: 600;
}

.main-list-body ul.list-group li.list-group-item {
    border-radius: 0;
    border: none;
    padding: 12px 0;
    font-size: 14px;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.main-list-body ul.list-group li.list-group-item>a {
    color: #34495e;
}

.main-list-body ul.list-group li.list-group-item:hover {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    z-index: 2;
}

.main-list-body ul.list-group li.list-group-item>a:hover {
    color: #3498DB;
}

.main-list-body .list-group-item-title {
    display: inline-block;
    float: left;
    width: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 16px;
}

.main-list-body .list-group-item-date {
    position: relative;
    top: 0;
    right: 2px;
    float: right;
    font-size: 12px;
    color: #95A5A6;
}

.content-card {
    position: relative;
    padding: 15px 25px;
    margin-bottom: 10px;
    background-color: #FFF;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.user-profile-username {
    font-size: 26px;
    font-weight: 600;
}

.user-profile-position,
.user-profile-gender {
    font-size: 18px;
    margin-left: 12px;
}

.user-profile-intro-head {
    display: inline-block;
    font-weight: 600;
    line-height: 1.8;
    font-size: 14px;
    margin-right: 30px;
    min-width: 4em;
}

.user-profile-intro-content {
    font-size: 14px;
    line-height: 1.8;
}

.modify-user-profile-btn {
    position: absolute;
    right: 25px;
    bottom: 15px;
    background: transparent;
    color: #3498DB;
    border: solid 1px #3498DB;
    border-radius: 3px;
    text-align: center;
    padding: 0;
}

.modify-user-profile-btn a,
.publish-document-btn a,
.create-message-btn a {
    display: inline-block;
    color: #3498DB;
    padding: 0 16px;
    font-size: 14px;
    line-height: 34px;
}

.modify-user-profile-btn a:hover,
.publish-document-btn a:hover,
.create-message-btn a:hover {
    color: #3498DB;
    background-color: rgba(41, 128, 185, 0.05)
}

.nav-pills .nav-item {
    padding: 0 20px;
}

.nav-pills .nav-item:first-child {
    padding-left: 0;
}

.nav-pills .nav-link {
    padding-left: 0;
    padding-right: 0;
    color: #34495E;
    font-size: 16px;
    transition: none;
}

.nav-pills .nav-link:hover {
    color: #34495E;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #34495E;
    background: transparent;
    font-weight: 600;
    border: none;
    border-radius: 0;
    border-bottom: 3px solid #3498DB;
}

.office-tags hr {
    margin-top: 0;
    margin-bottom: 10px;
}

.publish-document-btn,
.create-message-btn {
    position: absolute;
    top: 18.5px;
    right: 25px;
    background: transparent;
    color: #3498DB;
    border: solid 1px #3498DB;
    border-radius: 3px;
    text-align: center;
    padding: 0;
}

.tab-pane .list-group .list-group-item:first-child {
    border-top: none;
}

.tab-pane .list-group .list-group-item:first-child:hover {
    border-top: none;
}

.list-group .more {
    display: block;
    text-align: right;
    padding-top: 12px;
}

.list-group .more a {
    font-size: 14px;
    color: #95A5A6;
}

.list-group .more a:hover {
    color: #3498DB;
}

.main-pagination {
    margin-top: 15px;
}

.main-pagination .page-link {
    color: #3498DB;
    border-color: #ECF0F1;
    font-weight: 400;
}

.main-pagination .page-link:hover {
    color: #2980B9;
    border-color: transparent;
    z-index: 2;
}

.main-pagination .page-item.active .page-link {
    color: #FFF;
    background-color: #3498DB;
    border-color: #3498DB;
    z-index: 3;
}

.main-pagination .page-item.disabled .page-link {
    color: #BBB;
    border-color: #ECF0F1;
    z-index: 3;
}

.btn-primary {
    background-color: #3498DB;
    border-color: #3498DB;
}

.btn-primary:hover {
    background-color: #2C81BA;
    border-color: #2C81BA;
}

.office-tags .list-group .list-group-item:first-child {
    border-top: none;
}

.office-tags .list-group .list-group-item:first-child:hover {
    border-top: none;
}

.article-manage .list-group .list-group-item>a:first-child {
    display: inline-block;
    width: 85%;
    vertical-align: middle;
}

.article-manage .list-group .list-group-item>a:first-child span {
    display: inline-block;
    vertical-align: middle;
}

.text-edit-block {
    display: inline-block;
    float: right;
}

.text-edit-block form {
    display: inline-block;
}

.btn-update,
.btn-delete {
    border: none;
    box-shadow: none;
    background: transparent;
    padding: 0;
    margin: 0;
    margin-left: 10px;
    font-size: 14px;
    cursor: pointer;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

.btn-update:hover {
    color: #0056B3 !important;
}

.btn-delete:hover {
    color: #A71D2A !important;
}

.content-page {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 15px 30px;
	color: #34495e;
	z-index: 1;
	font-size: 1em;
	line-height: 150%;
	font-weight: 400;
}

.main-content-body.font-size-md .content-page {
	font-size: 1.2em;
}

.main-content-body.font-size-lg .content-page {
	font-size: 1.4em;
}

.content-page-title {
	text-align: center;
	font-weight: 400;
}

.content-page-date {
	color: #999;
	text-align: center;
	font-size: 14px;
	padding: 5px;
	margin-bottom: 15px;
}

.content-page-date span {
	display: inline-block;
	margin: 0 10px;
}

.content-page p{
	color: #333 !important;
	text-align: justify;
    margin-bottom: 0.2rem !important;
}

.content-page p a {
    transition: none !important;
    -webkit-transition: none !important;
}

.content-page p.caption {
	color: #333 !important;
	text-indent: 0 !important;
	margin-bottom: 0.2rem !important;
}

.content-page img {
	display: block;
	max-width: 100% !important;
	height: auto !important;
	margin: 15px auto;
}

.pager {
	padding: 0 30px;
}

.pagination {
	justify-content: space-between;
}

.page-item {
	font-size: 14px;
	border: solid 1px #DDD;
	border-radius: 50px;
	padding: 5px 15px;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.page-item:hover {
	text-decoration: none;
	background-color: #EEE;
}

.fa-angle-double-left,
.fa-angle-double-right {
	font-size: 16px;
}

.organization {
    font-size: 1em;
    border: solid 1px #DC3545;
    color: #DC3545;
    padding: 5px 10px;
    margin: 0 5px 10px;
}

.organization.has-checked {
    border: solid 1px #28A745;
    color: #28A745;
}

.check-document-btn {
    font-size: 1em;
    color: #3498DB;
    border: solid 1px #3498DB;
    margin: 0 0 10px 5px;
    background: transparent;
    height: calc(2em + 50px);
    width: 6.1em;
    cursor: pointer;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.check-document-btn:hover {
    background-color: #3498DB;
    color: #FFF;
}

.organization-list {
    margin-bottom: -10px;
}