{% extends "article_base.html" %}

{% block panel_title %}
{{ super_module.name }}
{% endblock panel_title %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'index' %}">首页</a></li>
{% if super_module.id == 2 %}
<li class="breadcrumb-item"><a href="{% url 'modules:eduinfo' EDU_INFO %}">{{ super_module.name }}</a></li>
{% elif super_module.id == 3 %}
<li class="breadcrumb-item"><a href="{% url 'modules:research' RESEARCH %}">{{ super_module.name }}</a></li>
{% elif super_module.id == 4 %}
<li class="breadcrumb-item"><a href="{% url 'modules:resource' RESOURCE %}">{{ super_module.name }}</a></li>
{% elif super_module.id == 5 %}
<li class="breadcrumb-item"><a href="{% url 'modules:eduinfo' AFFAIRS %}">{{ super_module.name }}</a></li>
{% elif super_module.id == 6 %}
<li class="breadcrumb-item"><a href="{% url 'modules:policy' POLICY %}">{{ super_module.name }}</a></li>
{% elif super_module.id == 7 %}
<li class="breadcrumb-item"><a href="{% url 'modules:show' SHOW %}">{{ super_module.name }}</a></li>
{% endif %}
<li class="breadcrumb-item active" aria-current="page">{{ sub_module.name }}</li>
{% endblock breadcrumb %}

{% block title %}{{ title }}{% endblock title %}
{% block pub_date %}{{ pub_date }}{% endblock pub_date %}
{% block origin %}{{ origin }}{% endblock origin %}
{% block author %}{{ author }}{% endblock author %}
{% block click_nums %}{{ click_nums }}{% endblock click_nums %}
{% block content %}{{ content | safe }}{% endblock content %}