<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>灵宝市豫灵镇中心学校</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="../static/css/main.css" rel="stylesheet">
    <link href="../static/css/developing.css" rel="stylesheet">
</head>

<body>
    <header class="main-header">
        <div class="main-header-wordmark container-fluid">
            <div class="main-header-bar">
                <div class="main-search">
                    <form action="">
                        <input type="text" class="main-search-input form-control" placeholder="搜索">
                        <button type="submit" class="main-search-submit btn"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <div class="main-wordmark">
                    <h1>灵宝市豫灵镇中心学校</h1>
                    <h4>Lingbao Yuling Center School</h4>
                </div>
            </div>
        </div>
        <div class="main-header-navbar container-fluid">
            <nav class="main-header-bar navbar navbar-expand-sm">
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-header-nav"
                        aria-controls="main-header-nav" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="navbar-toggler-icon fa fa-bars"></i>
                    </button>
                </div>
                <div id="main-header-nav" class="collapse navbar-collapse">
                    <ul class="main-nav nav navbar-nav nav-justified">
                        <li class="nav-item"><a name="active" class="active" href="javascript:void(0)">首页</a></li>
                        <li class="nav-item" data-toggle="tab" data-target="#main-nav-1"><a href="javascript:void(0)">学校概况</a></li>
                        <li class="nav-item" data-toggle="tab" data-target="#main-nav-2"><a href="javascript:void(0)">教育信息</a></li>
                        <li class="nav-item" data-toggle="tab" data-target="#main-nav-3"><a href="javascript:void(0)">学科研究</a></li>
                        <li class="nav-item" data-toggle="tab" data-target="#main-nav-4"><a href="javascript:void(0)">资源中心</a></li>
                        <li class="nav-item" data-toggle="tab" data-target="#main-nav-5"><a href="javascript:void(0)">政务公开</a></li>
                        <li class="nav-item" data-toggle="tab" data-target="#main-nav-6"><a href="javascript:void(0)">政策法规</a></li>
                        <li class="nav-item" data-toggle="tab" data-target="#main-nav-7"><a href="javascript:void(0)">学校风采</a></li>
                        <li class="nav-item"><a href="javascript:void(0)">网上办公</a></li>
                    </ul>

                    <ul class="main-nav-more">
                        <li class="fade" id="main-nav-1">
                            <div class="row">
                                <div class="col-sm-5 main-nav-item">
                                    <ul class="main-nav-list">
                                        <li><a href="javascript:void(0)">学校概况</a></li>
                                        <li><a href="javascript:void(0)">领导介绍</a></li>
                                        <li><a href="javascript:void(0)">下属机构</a></li>
                                        <li><a href="javascript:void(0)">学校荣誉</a></li>
                                        <li><a href="javascript:void(0)">教育设施</a></li>
                                        <li><a href="javascript:void(0)">教研成果</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-3 main-nav-item">
                                    <span class="main-nav-words">灵宝市豫灵镇中心学校</span>
                                </div>
                                <div class="col-sm-4 main-nav-item">
                                    <img class="main-nav-img" src="../static/img/2jiao.jpg">
                                </div>
                            </div>
                        </li>
                        <li class="fade" id="main-nav-2">
                            <div class="row">
                                <div class="col-sm-5 main-nav-item">
                                    <ul class="main-nav-list">
                                        <li><a href="javascript:void(0)">最新公告</a></li>
                                        <li><a href="javascript:void(0)">教育动态</a></li>
                                        <li><a href="javascript:void(0)">本地信息</a></li>
                                        <li><a href="javascript:void(0)">行事历</a></li>
                                        <li><a href="javascript:void(0)">政务公开</a></li>
                                        <li><a href="javascript:void(0)">平安校园</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-3 main-nav-item">
                                    <span class="main-nav-words">灵宝市豫灵镇中心学校</span>
                                </div>
                                <div class="col-sm-4 main-nav-item">
                                    <img class="main-nav-img" src="../static/img/2jiao.jpg">
                                </div>
                            </div>
                        </li>
                        <li class="fade" id="main-nav-3">
                            <div class="row">
                                <div class="col-sm-5 main-nav-item">
                                    <ul class="main-nav-list">
                                        <li><a href="javascript:void(0)">教研教改</a></li>
                                        <li><a href="javascript:void(0)">教研论文</a></li>
                                        <li><a href="javascript:void(0)">学教指导</a></li>
                                        <li><a href="javascript:void(0)">历任领导</a></li>
                                        <li><a href="javascript:void(0)">教学反思</a></li>
                                        <li><a href="javascript:void(0)">美文欣赏</a></li>
                                        <li><a href="javascript:void(0)">生活感悟</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-3 main-nav-item">
                                    <span class="main-nav-words">灵宝市豫灵镇中心学校</span>
                                </div>
                                <div class="col-sm-4 main-nav-item">
                                    <img class="main-nav-img" src="../static/img/2jiao.jpg">
                                </div>
                            </div>
                        </li>
                        <li class="fade" id="main-nav-4">
                            <div class="row">
                                <div class="col-sm-5 main-nav-item">
                                    <ul class="main-nav-list">
                                        <li><a href="javascript:void(0)">教育论文</a></li>
                                        <li><a href="javascript:void(0)">教学教案</a></li>
                                        <li><a href="javascript:void(0)">精选课件</a></li>
                                        <li><a href="javascript:void(0)">教育软件</a></li>
                                        <li><a href="javascript:void(0)">优秀作文</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-3 main-nav-item">
                                    <span class="main-nav-words">灵宝市豫灵镇中心学校</span>
                                </div>
                                <div class="col-sm-4 main-nav-item">
                                    <img class="main-nav-img" src="../static/img/2jiao.jpg">
                                </div>
                            </div>
                        </li>
                        <li class="fade" id="main-nav-5">
                            <div class="row">
                                <div class="col-sm-5 main-nav-item">
                                    <ul class="main-nav-list">
                                        <li><a href="javascript:void(0)">最新公告</a></li>
                                        <li><a href="javascript:void(0)">教育动态</a></li>
                                        <li><a href="javascript:void(0)">本地信息</a></li>
                                        <li><a href="javascript:void(0)">行事历</a></li>
                                        <li><a href="javascript:void(0)">政务公开</a></li>
                                        <li><a href="javascript:void(0)">平安校园</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-3 main-nav-item">
                                    <span class="main-nav-words">灵宝市豫灵镇中心学校</span>
                                </div>
                                <div class="col-sm-4 main-nav-item">
                                    <img class="main-nav-img" src="../static/img/2jiao.jpg">
                                </div>
                            </div>
                        </li>
                        <li class="fade" id="main-nav-6">
                            <div class="row">
                                <div class="col-sm-5 main-nav-item">
                                    <ul class="main-nav-list">
                                        <li><a href="javascript:void(0)">国家法律</a></li>
                                        <li><a href="javascript:void(0)">地方政策</a></li>
                                        <li><a href="javascript:void(0)">本地文件</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-3 main-nav-item">
                                    <span class="main-nav-words">灵宝市豫灵镇中心学校</span>
                                </div>
                                <div class="col-sm-4 main-nav-item">
                                    <img class="main-nav-img" src="../static/img/2jiao.jpg">
                                </div>
                            </div>
                        </li>
                        <li class="fade" id="main-nav-7">
                            <div class="row">
                                <div class="col-sm-5 main-nav-item">
                                    <ul class="main-nav-list">
                                        <li><a href="javascript:void(0)">学校新闻</a></li>
                                        <li><a href="javascript:void(0)">校长风采</a></li>
                                        <li><a href="javascript:void(0)">名师风采</a></li>
                                        <li><a href="javascript:void(0)">雏鹰风采</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-3 main-nav-item">
                                    <span class="main-nav-words">灵宝市豫灵镇中心学校</span>
                                </div>
                                <div class="col-sm-4 main-nav-item">
                                    <img class="main-nav-img" src="../static/img/2jiao.jpg">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <div id="toolbar">
        <div class="contactus">
            <a>
                联系我们
                <div class="contactus-card">
                    <div class="contact-method">
                        <p>地址：河南省灵宝市豫灵镇亚武路</p>
                        <p>邮编：472533</p>
                        <p>电话：0398-2525678</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="returntop">
            <a><i class="fa fa-arrow-up"></i></a>
        </div>
    </div>
    <div class="main-content">
        <div class="develop-card">
            <div class="develop-card-head">
                <i class="fa fa-bars"></i>
                <i class="fa fa-times-circle-o"></i>
            </div>
            <div class="develop-card-main">
                <h1>页面正在开发中</h1>
            </div>
        </div>
    </div>
    <footer class="main-footer">
        <p>灵宝市豫灵镇中心学校 © 版权所有 2007-2018</p>
        <p>地址：河南省灵宝市豫灵镇亚武路 邮编：472533</p>
    </footer>
    <!-- JavaScript -->
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="../static/js/jquery.flexslider.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script src="../static/js/init.js"></script>
    <script src="../static/js/main.js"></script>
</body>

</html>