<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>页面开发中 - 灵宝市豫灵镇中心学校</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ ANALYTICS_CODE }}

    <link href="../static/css/developing.css" rel="stylesheet">
</head>

<body>
    <div class="main-content">
        <div class="bg"></div>
        <div class="develop-card">
            <h1>页面正在开发中</h1>
            <h2>敬请期待</h2>
            <hr>
            <button><a href="/">返回主页</a></button>
        </div>
    </div>

    <!-- JavaScript -->
</body>

</html>