{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>找回密码 - 灵宝市豫灵镇中心学校</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/login.css'%}" rel="stylesheet">
</head>

<body>
    <div class="main-content">
        <div class="bg"></div>
        <div class="login-card">
            <div class="login-logo-card">
                <a href="{% url 'index' %}"><img src="{% static 'img/logo.png'%}" class="login-logo"></a>
            </div>
            <div class="login-form-card">
                <div class="login-form">
                    <h1><a href="{% url 'index' %}">豫灵镇中心学校</a></h1>
                    <h3>欢迎注册</h3>
                    <form action="{% url 'users:register' %}" method="POST">
                        <div class="form-row">
                            {% csrf_token %}
                            {{ form.none_field_errors }}
                            {{ form.email.label }}
                            {{ form.email }}
                            <div class="check-code">
                                {{ form.code.label }}
                                {{ form.code }}
                                <button type="submit" class="send-code-btn">发送验证码</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- JavaScript -->
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script>
</body>

</html>