{% load article_tags %}
{% load static %}
<header class="main-header">
    <div class="main-header-wordmark container-fluid">
        <div class="main-header-bar">
            <div class="main-head-top">
                <span class="return-old-version"><a href="http://lbyledu.cn/">旧站入口</a></span>
                {% if request.user.is_authenticated %}
                <div class="main-user">
                    <span>欢迎您，<a href="javascript:void(0)">{% if request.user.realname %}{{ request.user.realname }}{% else %}{{ request.user.username }}{% endif %} <i class="fa fa-caret-down"></i></a></span>
                    <div class="main-user-menu">
                        <a class="main-user-item" href="javascript:void(0)">个人中心</a>
                        <a class="main-user-item" href="javascript:void(0)">修改密码</a>
                        <a class="main-user-item" href="{% url 'users:logout' %}">退出登录</a>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="main-search">
                <form action="">
                    <input type="text" class="main-search-input form-control" placeholder="搜索">
                    <button type="submit" class="main-search-submit btn"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <div class="main-wordmark">
                <h1>灵宝市豫灵镇中心学校</h1>
                <h4>Lingbao Yuling Central School</h4>
            </div>
        </div>
    </div>
    <div class="main-header-navbar container-fluid">
        <nav class="main-header-bar navbar navbar-expand-sm">
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-header-nav"
                    aria-controls="main-header-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="navbar-toggler-icon fa fa-bars"></i>
                </button>
            </div>
            <div id="main-header-nav" class="collapse navbar-collapse">
                <ul class="main-nav nav navbar-nav nav-justified">
                    <li class="nav-item"><a {% ifequal request.path "/" %}name="active" class="active"{% endifequal %} href="{% url 'index' %}">首页</a></li>
                    <li class="nav-item" data-toggle="tab" data-target="#main-nav-0"><a href="{% url 'article:developing' %}">学校概况</a></li>
                    {% query nav_category_list parent_category=None as root_categorys %}
                    {% for node in root_categorys %}
                        <li class="nav-item" data-toggle="tab" data-target="#main-nav-{{ forloop.counter }}"><a {% ifequal current_parent_id node.id %}name="active" class="active"{% endifequal %} href="{{ node.get_absolute_url }}">{{ node.name }}</a></li>
                    {% endfor %}
                    <li class="nav-item"{% if request.user.is_authenticated %} data-toggle="tab" data-target="#main-nav-99"{% endif %}><a {% if "/office/" in request.path %}name="active" class="active"{% endif %} href="{% url 'office:index' %}">网上办公</a></li>
                </ul>

                <ul class="main-nav-more">
                    <li class="fade" id="main-nav-0">
                        <div class="row">
                            <div class="col-sm-5 main-nav-item">
                                <ul class="main-nav-list">
                                    <li><a href="javascript:void(0)">学校概况</a></li>
                                    <li><a href="javascript:void(0)">领导介绍</a></li>
                                    <li><a href="javascript:void(0)">下属机构</a></li>
                                    <li><a href="javascript:void(0)">学校荣誉</a></li>
                                    <li><a href="javascript:void(0)">教育设施</a></li>
                                    <li><a href="javascript:void(0)">教研成果</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-3 main-nav-item">
                                <span class="main-nav-words">{{ SITE_NAME }}</span>
                            </div>
                            <div class="col-sm-4 main-nav-item">
                                <img class="main-nav-img" src="{% static 'img/2jiao.jpg' %}">
                            </div>
                        </div>
                    </li>
                    {% for node in root_categorys %}
                    {% query nav_category_list parent_category=node as child_categorys %}
                        {% if child_categorys %}
                        <li class="fade" id="main-nav-{{ forloop.counter }}">
                            <div class="row">
                                <div class="col-sm-5 main-nav-item">
                                    <ul class="main-nav-list">
                                    {% for child in child_categorys %}
                                        <li><a href="{{ child.get_absolute_url }}">{{ child.name }}</a></li>
                                    {% endfor %}
                                    </ul>
                                </div>
                                <div class="col-sm-3 main-nav-item">
                                    <span class="main-nav-words">{{ SITE_NAME }}</span>
                                </div>
                                <div class="col-sm-4 main-nav-item">
                                    <img class="main-nav-img" src="{% static 'img/2jiao.jpg' %}">
                                </div>
                            </div>
                        </li>
                        {% endif %}
                    {% endfor %}
                    {% if request.user.is_authenticated %}
                    <li class="fade" id="main-nav-99">
                        <div class="row">
                            <div class="col-sm-5 main-nav-item">
                                <ul class="main-nav-list">
                                    <li><a href="{% url 'office:index' %}">办公首页</a></li>
                                    <li><a href="{% url 'office:document' %}">公文签收</a></li>
                                    <li><a href="javascript:void(0)">文章管理</a></li>
                                    <li><a href="javascript:void(0)">审核用户</a></li>
                                    <li><a href="javascript:void(0)">通讯录</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-3 main-nav-item">
                                <span class="main-nav-words">{{ SITE_NAME }}</span>
                            </div>
                            <div class="col-sm-4 main-nav-item">
                                <img class="main-nav-img" src="{% static 'img/2jiao.jpg' %}">
                            </div>
                        </div>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
</header>