<!DOCTYPE html>
<html lang="zh-CN">
{% load staticfiles %}

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>灵宝市豫灵镇中心学校</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
</head>

<body>
    <header class="main-header">
        <div class="main-header-wordmark container-fluid">
            <div class="main-header-bar">
                <div class="main-search">
                    <form action="">
                        <input type="text" class="main-search-input form-control" placeholder="搜索">
                        <button type="submit" class="main-search-submit btn"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <div class="main-wordmark">
                    <h1>灵宝市豫灵镇中心学校</h1>
                    <h4>Lingbao Yuling Center School</h4>
                </div>
            </div>
        </div>
        <div class="main-header-navbar container-fluid">
            <nav class="main-header-bar navbar navbar-expand-sm">
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-header-nav"
                        aria-controls="main-header-nav" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="navbar-toggler-icon fa fa-bars"></i>
                    </button>
                </div>
                <div id="main-header-nav" class="collapse navbar-collapse">
                    <ul class="main-nav nav navbar-nav nav-justified">
                        <li class="nav-item"><a name="active" class="active" href="{% url 'index' %}">首页</a></li>
                        <li class="nav-item" data-toggle="tab" data-target="#main-nav-1"><a href="{% url 'organization:org_info' 1 %}">学校概况</a></li>
                        <li class="nav-item" data-toggle="tab" data-target="#main-nav-2"><a href="{% url 'modules:eduinfo' EDU_INFO %}">教育信息</a></li>
                        <li class="nav-item" data-toggle="tab" data-target="#main-nav-3"><a href="{% url 'modules:research' RESEARCH %}">学科研究</a></li>
                        <li class="nav-item" data-toggle="tab" data-target="#main-nav-4"><a href="{% url 'modules:resource' RESOURCE %}">资源中心</a></li>
                        <li class="nav-item" data-toggle="tab" data-target="#main-nav-5"><a href="{% url 'modules:eduinfo' AFFAIRS %}">政务公开</a></li>
                        <li class="nav-item" data-toggle="tab" data-target="#main-nav-6"><a href="{% url 'modules:policy' POLICY %}">政策法规</a></li>
                        <li class="nav-item" data-toggle="tab" data-target="#main-nav-7"><a href="{% url 'modules:show' SHOW %}">学校风采</a></li>
                        <li class="nav-item"><a href="javascript:void(0)">网上办公</a></li>
                    </ul>

                    <ul class="main-nav-more">
                        <li class="fade" id="main-nav-1">
                            <div class="row">
                                <div class="col-sm-5 main-nav-item">
                                    <ul class="main-nav-list">
                                        <li><a href="{% url 'organization:org_info' 1 %}">学校概况</a></li>
                                        <li><a href="#">领导介绍</a></li>
                                        <li><a href="#">下属机构</a></li>
                                        <li><a href="#">学校荣誉</a></li>
                                        <li><a href="#">教育设施</a></li>
                                        <li><a href="#">教研成果</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-3 main-nav-item">
                                    <span class="main-nav-words">灵宝市豫灵镇中心学校</span>
                                </div>
                                <div class="col-sm-4 main-nav-item">
                                    <img class="main-nav-img" src="{% static 'img/2jiao.jpg' %}">
                                </div>
                            </div>
                        </li>
                        <li class="fade" id="main-nav-2">
                            <div class="row">
                                <div class="col-sm-5 main-nav-item">
                                    <ul class="main-nav-list">
                                        <li><a href="#">最新公告</a></li>
                                        <li><a href="#">教育动态</a></li>
                                        <li><a href="#">本地信息</a></li>
                                        <li><a href="#">行事历</a></li>
                                        <li><a href="#">政务公开</a></li>
                                        <li><a href="#">平安校园</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-3 main-nav-item">
                                    <span class="main-nav-words">灵宝市豫灵镇中心学校</span>
                                </div>
                                <div class="col-sm-4 main-nav-item">
                                    <img class="main-nav-img" src="{% static 'img/2jiao.jpg' %}">
                                </div>
                            </div>
                        </li>
                        <li class="fade" id="main-nav-3">
                            <div class="row">
                                <div class="col-sm-5 main-nav-item">
                                    <ul class="main-nav-list">
                                        <li><a href="#">教研教改</a></li>
                                        <li><a href="#">教研论文</a></li>
                                        <li><a href="#">学教指导</a></li>
                                        <li><a href="#">历任领导</a></li>
                                        <li><a href="#">教学反思</a></li>
                                        <li><a href="#">美文欣赏</a></li>
                                        <li><a href="#">生活感悟</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-3 main-nav-item">
                                    <span class="main-nav-words">灵宝市豫灵镇中心学校</span>
                                </div>
                                <div class="col-sm-4 main-nav-item">
                                    <img class="main-nav-img" src="{% static 'img/2jiao.jpg' %}">
                                </div>
                            </div>
                        </li>
                        <li class="fade" id="main-nav-4">
                            <div class="row">
                                <div class="col-sm-5 main-nav-item">
                                    <ul class="main-nav-list">
                                        <li><a href="#">教育论文</a></li>
                                        <li><a href="#">教学教案</a></li>
                                        <li><a href="#">精选课件</a></li>
                                        <li><a href="#">教育软件</a></li>
                                        <li><a href="#">优秀作文</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-3 main-nav-item">
                                    <span class="main-nav-words">灵宝市豫灵镇中心学校</span>
                                </div>
                                <div class="col-sm-4 main-nav-item">
                                    <img class="main-nav-img" src="{% static 'img/2jiao.jpg' %}">
                                </div>
                            </div>
                        </li>
                        <li class="fade" id="main-nav-5">
                            <div class="row">
                                <div class="col-sm-5 main-nav-item">
                                    <ul class="main-nav-list">
                                        <li><a href="#">最新公告</a></li>
                                        <li><a href="#">教育动态</a></li>
                                        <li><a href="#">本地信息</a></li>
                                        <li><a href="#">行事历</a></li>
                                        <li><a href="#">政务公开</a></li>
                                        <li><a href="#">平安校园</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-3 main-nav-item">
                                    <span class="main-nav-words">灵宝市豫灵镇中心学校</span>
                                </div>
                                <div class="col-sm-4 main-nav-item">
                                    <img class="main-nav-img" src="{% static 'img/2jiao.jpg' %}">
                                </div>
                            </div>
                        </li>
                        <li class="fade" id="main-nav-6">
                            <div class="row">
                                <div class="col-sm-5 main-nav-item">
                                    <ul class="main-nav-list">
                                        <li><a href="#">国家法律</a></li>
                                        <li><a href="#">地方政策</a></li>
                                        <li><a href="#">本地文件</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-3 main-nav-item">
                                    <span class="main-nav-words">灵宝市豫灵镇中心学校</span>
                                </div>
                                <div class="col-sm-4 main-nav-item">
                                    <img class="main-nav-img" src="{% static 'img/2jiao.jpg' %}">
                                </div>
                            </div>
                        </li>
                        <li class="fade" id="main-nav-7">
                            <div class="row">
                                <div class="col-sm-5 main-nav-item">
                                    <ul class="main-nav-list">
                                        <li><a href="#">学校新闻</a></li>
                                        <li><a href="#">校长风采</a></li>
                                        <li><a href="#">名师风采</a></li>
                                        <li><a href="#">雏鹰风采</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-3 main-nav-item">
                                    <span class="main-nav-words">灵宝市豫灵镇中心学校</span>
                                </div>
                                <div class="col-sm-4 main-nav-item">
                                    <img class="main-nav-img" src="{% static 'img/2jiao.jpg' %}">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <div class="main-content container">
        <div id="toolbar">
            <div class="contactus">
                <a>
                    联系我们
                    <div class="contactus-card">
                        <div class="contact-method">
                            <p>地址：河南省灵宝市豫灵镇亚武路</p>
                            <p>邮编：472533</p>
                            <p>电话：0398-2525678</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="returntop">
                <a><i class="fa fa-arrow-up"></i></a>
            </div>
        </div>
        <div class="main-slide">
            <div class="main-slide-imgBox">
                <div class="main-slide-btn main-slide-left"><i class="fa fa-chevron-left"></i></div>
                <div class="main-slide-btn main-slide-right"><i class="fa fa-chevron-right"></i></span></div>
                <ul class="main-slide-list">
                    <li class="main-slide-item">
                        <a href="#">
                            <img class="cover-img" src="{% static 'img/test0.jpg'%}">
                        </a>
                    </li>
                    <li class="main-slide-item">
                        <a href="#">
                            <img class="cover-img" src="{% static 'img/test1.jpg'%}">
                        </a>
                    </li>
                    <li class="main-slide-item">
                        <a href="#">
                            <img class="cover-img" src="{% static 'img/test2.jpg'%}">
                        </a>
                    </li>
                    <li class="main-slide-item">
                        <a href="#">
                            <img class="cover-img" src="{% static 'img/test3.jpg'%}">
                        </a>
                    </li>
                    <li class="main-slide-item">
                        <a href="#">
                            <img class="cover-img" src="{% static 'img/test4.jpg'%}">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="main-slide-excerpt">
                <ol class="main-slide-excerpt-list">
                    <li class="main-slide-excerpt-item">
                        <img class="cover-img blur" src="{% static 'img/test0.jpg'%}">
                        <div class="main-slide-excerpt-item-box">
                            <h3 class="main-slide-title"><a href="#">豫灵镇：欢声笑语庆元旦 才艺大赛展风采</a></h3>
                            <p class="main-slide-text">为热烈庆祝元旦佳节，
                                12月28日，豫灵镇中心校工会举行庆元旦教工才艺大赛活动，通过作品陈列静态展示和节目表演动态展示两种方式，检阅近年来教育教学发展成果和师生昂扬向上的精神风貌。身心两健展时代风采，德艺双馨做魅力教师。本次才艺展示活动以“全员性、主题性...</p>
                        </div>
                        <a class="main-slide-excerpt-more btn" href="#">了解更多</a>
                    </li>
                    <li class="main-slide-excerpt-item">
                        <img class="cover-img blur" src="{% static 'img/test1.jpg'%}">
                        <div class="main-slide-excerpt-item-box">
                            <h3 class="main-slide-title"><a href="#">豫灵镇:大赛点燃激情 赛场绽放青春</a></h3>
                            <p class="main-slide-text">为提高幼儿教师的职业道德修养、教育教学能力和专业技能水平，努力打造一支德艺双馨的青年教师队伍，11月21日、22日，豫灵镇第二届幼儿园教师社会领域综合素质大赛在阳光幼儿园举行。比赛的内容有教学设计、课件制作、课堂教学展示、教育教学答辩、粉笔字展示、才艺...</p>
                        </div>
                        <a class="main-slide-excerpt-more btn" href="#">了解更多</a>
                    </li>
                    <li class="main-slide-excerpt-item">
                        <img class="cover-img blur" src="{% static 'img/test2.jpg'%}">
                        <div class="main-slide-excerpt-item-box">
                            <h3 class="main-slide-title"><a href="#">豫灵镇第二届幼儿教师健康领域综合素质大...</a></h3>
                            <p class="main-slide-text">为深化教师队伍建设年活动，深入推动三项提升工程，激励广大幼儿教师重视和坚持基本功训练，落实以游戏为基本活动的教育原则，着力提高豫灵镇幼儿教师综合素质，11月14日、11月15日，豫灵镇第二届幼儿园教师健康领域综合素质大赛在四知幼儿园圆满举行。比赛设有教育教学...</p>
                        </div>
                        <a class="main-slide-excerpt-more btn" href="#">了解更多</a>
                    </li>
                    <li class="main-slide-excerpt-item">
                        <img class="cover-img blur" src="{% static 'img/test3.jpg'%}">
                        <div class="main-slide-excerpt-item-box">
                            <h3 class="main-slide-title"><a href="#">豫灵镇扎实开展校车安全整治活动</a></h3>
                            <p class="main-slide-text">为全面加强幼儿园校车管理，确保冬季交通安全，11月13日，豫灵镇中心校、交警二中队密切配合成立校车督查组，深入各幼儿园扎实开展校车安全专项整治行动。每到一所幼儿园，检查组成员仔细查看校车车况、设施配备、驾驶证件、校车责任书签订等各类档案，询问校车接送路线...</p>
                        </div>
                        <a class="main-slide-excerpt-more btn" href="#">了解更多</a>
                    </li>
                    <li class="main-slide-excerpt-item">
                        <img class="cover-img blur" src="{% static 'img/test4.jpg'%}">
                        <div class="main-slide-excerpt-item-box">
                            <h3 class="main-slide-title"><a href="#">豫灵镇中小学积极开展消防安全教育和疏散...</a></h3>
                            <p class="main-slide-text">为全面加强学校冬季安全工作，防范火灾事故的发生，11月8日，豫灵镇中心校组织各中小学、幼儿园积极开展消防安全教育和消防疏散演练。各校充分利用消防安全主题班会、黑板报、电子屏等多种方式，广泛宣传消防安全知识和逃生自救知识；同时，积极开展消防安全疏散演练和应...</p>
                        </div>
                        <a class="main-slide-excerpt-more btn" href="#">了解更多</a>
                    </li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-8">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title"><a href="#">学校新闻<span class="panel-more float-right">更多</span></a></h3>
                            </div>
                            <div class="panel-body">
                                <ul class="panel-list">
                                    <li class="panel-item">
                                        <a href="#">
                                            <span class="panel-item-title">豫灵镇实验幼儿园：才艺展示秀出幼儿真风采</span>
                                            <span class="panel-item-date">12-16</span>
                                        </a>
                                    </li>
                                    <li class="panel-item">
                                        <a href="#">
                                            <span class="panel-item-title">豫灵镇希望学校举行第六届最美希望人评选活动启动仪式</span>
                                            <span class="panel-item-date">12-17</span>
                                        </a>
                                    </li>
                                    <li class="panel-item">
                                        <a href="#">
                                            <span class="panel-item-title">豫灵镇希望学校弯腰行动从我做起</span>
                                            <span class="panel-item-date">12-17</span>
                                        </a>
                                    </li>
                                    <li class="panel-item">
                                        <a href="#">
                                            <span class="panel-item-title">豫灵镇第一片区成功举行音乐走教活动</span>
                                            <span class="panel-item-date">12-13</span>
                                        </a>
                                    </li>
                                    <li class="panel-item">
                                        <a href="#">
                                            <span class="panel-item-title">上屯小学轮课教学，提升你我</span>
                                            <span class="panel-item-date">12-12</span>
                                        </a>
                                    </li>
                                    <li class="panel-item">
                                        <a href="#">
                                            <span class="panel-item-title">豫灵镇希望学校手指动起来课间更精彩</span>
                                            <span class="panel-item-date">12-12</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title"><a href="#">政务公开<span class="panel-more float-right">更多</span></a></h3>
                            </div>
                            <div class="panel-body">
                                <ul class="panel-list">
                                    <li class="panel-item">
                                        <a href="#">
                                            <span class="panel-item-title">豫灵镇：欢声笑语庆元旦 才艺大赛展风采</span>
                                            <span class="panel-item-date">12-29</span>
                                        </a>
                                    </li>
                                    <li class="panel-item">
                                        <a href="#">
                                            <span class="panel-item-title">豫灵镇举行第二届小学教师综合素质大赛</span>
                                            <span class="panel-item-date">11-30</span>
                                        </a>
                                    </li>
                                    <li class="panel-item">
                                        <a href="#">
                                            <span class="panel-item-title">豫灵镇：党建带岗建 带出好三风</span>
                                            <span class="panel-item-date">11-26</span>
                                        </a>
                                    </li>
                                    <li class="panel-item">
                                        <a href="#">
                                            <span class="panel-item-title">豫灵镇:大赛点燃激情 赛场绽放青春</span>
                                            <span class="panel-item-date">11-22</span>
                                        </a>
                                    </li>
                                    <li class="panel-item">
                                        <a href="#">
                                            <span class="panel-item-title">豫灵镇第二届幼儿教师健康领域综合素质大赛圆满举行</span>
                                            <span class="panel-item-date">11-15</span>
                                        </a>
                                    </li>
                                    <li class="panel-item">
                                        <a href="#">
                                            <span class="panel-item-title">豫灵镇希望学校开展学会感恩与爱同行</span>
                                            <span class="panel-item-date">11-21</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title"><a href="#">学科研究<span class="panel-more float-right">更多</span></a></h3>
                            </div>
                            <div class="panel-body">
                                <ul class="panel-list">
                                    <li class="panel-item">
                                        <a href="#">
                                            <span class="panel-item-title">堡里小学：《冰灯》教学反思</span>
                                            <span class="panel-item-date">12-19</span>
                                        </a>
                                    </li>
                                    <li class="panel-item">
                                        <a href="#">
                                            <span class="panel-item-title">麻庄小学 《乌鸦喝水》教学反思</span>
                                            <span class="panel-item-date">12-18</span>
                                        </a>
                                    </li>
                                    <li class="panel-item">
                                        <a href="#">
                                            <span class="panel-item-title">班主任工作经验交流心得体会</span>
                                            <span class="panel-item-date">12-18</span>
                                        </a>
                                    </li>
                                    <li class="panel-item">
                                        <a href="#">
                                            <span class="panel-item-title">上屯小学：《雪地里的小画家》教学反思</span>
                                            <span class="panel-item-date">12-17</span>
                                        </a>
                                    </li>
                                    <li class="panel-item">
                                        <a href="#">
                                            <span class="panel-item-title">堡里小学：如何提高学生的学习兴趣</span>
                                            <span class="panel-item-date">12-12</span>
                                        </a>
                                    </li>
                                    <li class="panel-item">
                                        <a href="#">
                                            <span class="panel-item-title">堡里小学：《9加几》教学反思</span>
                                            <span class="panel-item-date">12-12</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title"><a href="#">政策法规<span class="panel-more float-right">更多</span></a></h3>
                            </div>
                            <div class="panel-body">
                                <ul class="panel-list">
                                    <li class="panel-item">
                                        <a href="#">
                                            <span class="panel-item-title">三门峡市学校内部安全管理工作基本规范</span>
                                            <span class="panel-item-date">11-5</span>
                                        </a>
                                    </li>
                                    <li class="panel-item">
                                        <a href="#">
                                            <span class="panel-item-title">灵宝市中小学幼儿园安全工作 “10查100看”</span>
                                            <span class="panel-item-date">9-27</span>
                                        </a>
                                    </li>
                                    <li class="panel-item">
                                        <a href="#">
                                            <span class="panel-item-title">三门峡市教育系统安全稳定“50查200看”排查重点</span>
                                            <span class="panel-item-date">9-27</span>
                                        </a>
                                    </li>
                                    <li class="panel-item">
                                        <a href="#">
                                            <span class="panel-item-title">灵宝市学校安全管理责任体系建设手册</span>
                                            <span class="panel-item-date">9-22</span>
                                        </a>
                                    </li>
                                    <li class="panel-item">
                                        <a href="#">
                                            <span class="panel-item-title">灵宝市幼儿园管理基本规范(试行)</span>
                                            <span class="panel-item-date">9-2</span>
                                        </a>
                                    </li>
                                    <li class="panel-item">
                                        <a href="#">
                                            <span class="panel-item-title">河南省城镇独生子女父母奖励扶助 制度政策解释及对象确认与退出程序</span>
                                            <span class="panel-item-date">7-1</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title"><a href="#">教研教改<span class="panel-more float-right">更多</span></a></h3>
                            </div>
                            <div class="panel-body">
                                <ul class="panel-list">
                                    <li class="panel-item">
                                        <a href="#">
                                            <span class="panel-item-title">堡里小学：《冰灯》教学反思</span>
                                            <span class="panel-item-date">12-19</span>
                                        </a>
                                    </li>
                                    <li class="panel-item">
                                        <a href="#">
                                            <span class="panel-item-title">麻庄小学 《乌鸦喝水》教学反思</span>
                                            <span class="panel-item-date">12-18</span>
                                        </a>
                                    </li>
                                    <li class="panel-item">
                                        <a href="#">
                                            <span class="panel-item-title">班主任工作经验交流心得体会</span>
                                            <span class="panel-item-date">12-18</span>
                                        </a>
                                    </li>
                                    <li class="panel-item">
                                        <a href="#">
                                            <span class="panel-item-title">上屯小学：《雪地里的小画家》教学反思</span>
                                            <span class="panel-item-date">12-17</span>
                                        </a>
                                    </li>
                                    <li class="panel-item">
                                        <a href="#">
                                            <span class="panel-item-title">堡里小学：如何提高学生的学习兴趣</span>
                                            <span class="panel-item-date">12-12</span>
                                        </a>
                                    </li>
                                    <li class="panel-item">
                                        <a href="#">
                                            <span class="panel-item-title">堡里小学：《9加几》教学反思</span>
                                            <span class="panel-item-date">12-12</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title"><a href="#">教育论文<span class="panel-more float-right">更多</span></a></h3>
                            </div>
                            <div class="panel-body">
                                <ul class="panel-list">
                                    <li class="panel-item">
                                        <a href="#">
                                            <span class="panel-item-title">谈小学生创新精神的培养</span>
                                            <span class="panel-item-date">6-13</span>
                                        </a>
                                    </li>
                                    <li class="panel-item">
                                        <a href="#">
                                            <span class="panel-item-title">堡里小学：我参与，我快乐</span>
                                            <span class="panel-item-date">12-7</span>
                                        </a>
                                    </li>
                                    <li class="panel-item">
                                        <a href="#">
                                            <span class="panel-item-title">新课的语文教学</span>
                                            <span class="panel-item-date">11-22</span>
                                        </a>
                                    </li>
                                    <li class="panel-item">
                                        <a href="#">
                                            <span class="panel-item-title">如何培养一年级学生的口算能力</span>
                                            <span class="panel-item-date">11-15</span>
                                        </a>
                                    </li>
                                    <li class="panel-item">
                                        <a href="#">
                                            <span class="panel-item-title">在数学教学中如何培养学生的创新意识</span>
                                            <span class="panel-item-date">11-7</span>
                                        </a>
                                    </li>
                                    <li class="panel-item">
                                        <a href="#">
                                            <span class="panel-item-title">浅谈如何提高学生的学习主动性</span>
                                            <span class="panel-item-date">5-4</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="panel panel-notice">
                    <div class="panel-heading">
                        <h3 class="panel-title"><a href="#">网站公告<span class="panel-more float-right">更多</span></a></h3>
                    </div>
                    <div class="panel-body">
                        <ul class="panel-list">
                            <li class="panel-notice-item">
                                <div class="panel-notice-date">
                                    <span class="panel-notice-date-m">11月</span>
                                    <span class="panel-notice-date-d">26日</span>
                                </div>
                                <a href="#" class="panel-notice-title">第二十四期校长管理案例（2018年11月份）已在“学校风采”栏目发表，请各位校长下载学习。</a>
                            </li>
                            <li class="panel-notice-item">
                                <div class="panel-notice-date">
                                    <span class="panel-notice-date-m">07月</span>
                                    <span class="panel-notice-date-d">07日</span>
                                </div>
                                <a href="#" class="panel-notice-title">第二十三期校长管理案例（2018年6月份）已在“学校风采”栏目发表，请各位校长下载学习。</a>
                            </li>
                            <li class="panel-notice-item">
                                <div class="panel-notice-date">
                                    <span class="panel-notice-date-m">06月</span>
                                    <span class="panel-notice-date-d">06日</span>
                                </div>
                                <a href="#" class="panel-notice-title">第二十二期校长管理案例（2018年5月份）已在“学校风采”栏目发表，请各位校长下载学习。</a>
                            </li>
                            <li class="panel-notice-item">
                                <div class="panel-notice-date">
                                    <span class="panel-notice-date-m">05月</span>
                                    <span class="panel-notice-date-d">07日</span>
                                </div>
                                <a href="#" class="panel-notice-title">第二十一期校长管理案例（2018年4月份）已在“学校风采”栏目发表，请各位校长下载学习。</a>
                            </li>
                            <li class="panel-notice-item">
                                <div class="panel-notice-date">
                                    <span class="panel-notice-date-m">04月</span>
                                    <span class="panel-notice-date-d">08日</span>
                                </div>
                                <a href="#" class="panel-notice-title">第二十期校长管理案例（2018年3月份）已在“学校风采”栏目发表，请各位校长下载学习。</a>
                            </li>
                            <li class="panel-notice-item">
                                <div class="panel-notice-date">
                                    <span class="panel-notice-date-m">01月</span>
                                    <span class="panel-notice-date-d">04日</span>
                                </div>
                                <a href="#" class="panel-notice-title">第十九期校长管理案例（2017年12月份）已在“学校风采”栏目发表，请各位校长下载学习。</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title"><a href="#">平安校园<span class="panel-more float-right">更多</span></a></h3>
                            </div>
                            <div class="panel-body">
                                <ul class="panel-list">
                                    <li class="panel-item">
                                        <a href="#">
                                            <span class="panel-item-title">豫灵镇堡里小学举行防震安全疏散演练</span>
                                            <span class="panel-item-date">12-12</span>
                                        </a>
                                    </li>
                                    <li class="panel-item">
                                        <a href="#">
                                            <span class="panel-item-title">董社小学举行防震紧急疏散安全演练活动</span>
                                            <span class="panel-item-date">12-10</span>
                                        </a>
                                    </li>
                                    <li class="panel-item">
                                        <a href="#">
                                            <span class="panel-item-title">豫灵镇麻庄小学举行紧急疏散演练</span>
                                            <span class="panel-item-date">12-10</span>
                                        </a>
                                    </li>
                                    <li class="panel-item">
                                        <a href="#">
                                            <span class="panel-item-title">杜家小学举行防震疏散演练</span>
                                            <span class="panel-item-date">12-6</span>
                                        </a>
                                    </li>
                                    <li class="panel-item">
                                        <a href="#">
                                            <span class="panel-item-title">豫灵镇实验幼儿园：冬季安全督查受肯定</span>
                                            <span class="panel-item-date">12-6</span>
                                        </a>
                                    </li>
                                    <li class="panel-item">
                                        <a href="#">
                                            <span class="panel-item-title">豫灵镇希望学校开展杜绝火患 保护家园主题活动</span>
                                            <span class="panel-item-date">12-5</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="main-footer">
        <p>灵宝市豫灵镇中心学校 © 版权所有 2007-2018</p>
        <p>地址：河南省灵宝市豫灵镇亚武路 邮编：472533</p>
    </footer>
    <!-- JavaScript -->
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'js/jquery.flexslider.js' %}"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script src="{% static 'js/init.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>