<!DOCTYPE html>
<html lang="zh-CN">
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>学校概况 - 豫灵镇中心学校</title>

    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link href="{% static 'css/list.css' %}" rel="stylesheet">
</head>

<body>
    <!--[if lt IE 9]><p class="kill-ie">你的浏览器版本太低，请升级到高版本浏览器！</p><![endif]-->
    <header class="main-header">
        <div class="main-header-wordmark container-fluid">
            <div class="main-header-bar">
                <div class="main-search">
                    <form action="">
                        <input type="text" class="main-search-input form-control" placeholder="搜索">
                        <button type="submit" class="main-search-submit btn"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <div class="main-wordmark">
                    <h1>灵宝市豫灵镇中心学校</h1>
                    <h4>Lingbao Yuling Center School</h4>
                </div>
            </div>
        </div>
        <div class="main-header-navbar container-fluid">
            <nav class="main-header-bar navbar navbar-expand-sm">
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-header-nav"
                        aria-controls="main-header-nav" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="navbar-toggler-icon fa fa-bars"></i>
                    </button>
                </div>
                <div id="main-header-nav" class="collapse navbar-collapse">
                    <ul class="main-nav nav navbar-nav nav-justified">
                        <li class="nav-item"><a href="{% url 'index' %}">首页</a></li>
                        <li class="nav-item"><a href="{% url 'organization:org_info' 1 %}">学校概况</a></li>
                        <li class="nav-item"><a {% block eduinfo_active %}{% endblock eduinfo_active %} href="{% url 'modules:eduinfo' EDU_INFO %}">教育信息</a></li>
                        <li class="nav-item"><a {% block research_active %}{% endblock research_active %} href="{% url 'modules:research' RESEARCH %}">学科研究</a></li>
                        <li class="nav-item"><a {% block resource_active %}{% endblock resource_active %} href="{% url 'modules:resource' RESOURCE %}">资源中心</a></li>
                        <li class="nav-item"><a {% block affairs_active %}{% endblock affairs_active %} href="{% url 'modules:eduinfo' AFFAIRS %}">政务公开</a></li>
                        <li class="nav-item"><a {% block policy_active %}{% endblock policy_active %} href="{% url 'modules:policy' POLICY %}">政策法规</a></li>
                        <li class="nav-item"><a {% block show_active %}{% endblock show_active %} href="{% url 'modules:show' SHOW %}">学校风采</a></li>
                        <li class="nav-item"><a href="javascript:void(0)">网上办公</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <div id="toolbar">
        <div class="contactus">
            <a>
                联系我们
                <div class="contactus-card">
                    <div class="contact-method">
                        <p>地址：河南省灵宝市豫灵镇亚武路</p>
                        <p>邮编：472533</p>
                        <p>电话：0398-2525678</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="returntop">
            <a><i class="fa fa-arrow-up"></i></a>
        </div>
    </div>
    <div class="main-content container">
        <div class="row row-offcanvas row-offcanvas-left">
            <div class="main-content container">
                <div class="row row-offcanvas row-offcanvas-left">
                    <div class="col-sm-4 col-md-3 sidebar-offcanvas main-content-sidebar" id="sidebar">
                        <ul class="sidebar-list-group">
                            {% block sidebar %}
                            {% endblock sidebar %}
                        </ul>
                    </div>
                    <div class="col-sm-8 col-md-9 main-content-body">
                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    <span class="panel-title-word" data-toggle="offcanvas">
                                        <i class="fa fa-align-right"></i> {% block panel_title %}{% endblock panel_title %}
                                    </span>
                                    <ol class="breadcrumb">
                                    {% block bread %}{% endblock bread %}
                                    </ol>
                                </h3>
                            </div>
                            <div class="main-list-body panel-body">
                                <ul class="list-group">
                                {% block articles %}
                                
                                {% endblock articles %}
                                </ul>
                                <nav aria-label="Page navigation example" class="main-pagination">
                                    <ul class="pagination pagination-sm justify-content-end">
                                        <li class="page-item"><a class="page-link" href="#">首页</a></li>
                                        <li class="page-item disabled"><a class="page-link" href="#">上一页</a></li>
                                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                                        <li class="page-item"><a class="page-link" href="#">...</a></li>
                                        <li class="page-item"><a class="page-link" href="#">下一页</a></li>
                                        <li class="page-item"><a class="page-link" href="#">尾页</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="main-footer">
        <p>灵宝市豫灵镇中心学校 © 版权所有 2007-2018</p>
        <p>地址：河南省灵宝市豫灵镇亚武路 邮编：472533</p>
    </footer>

    <!-- JavaScript -->
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>