{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>注册 - 灵宝市豫灵镇中心学校</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{% static 'css/login.css'%}" rel="stylesheet">
</head>

<body>
    <div class="main-content">
        <div class="bg"></div>
        <div class="login-card">
            <div class="login-logo-card">
                <a href="{% url 'index' %}"><img src="{% static 'img/logo.png'%}" class="login-logo"></a>
            </div>
            <div class="login-form-card">
                <div class="login-form">
                    <h1><a href="{% url 'index' %}">豫灵镇中心学校</a></h1>
                    <h3>欢迎注册</h3>
                    <form action="{% url 'users:register' %}" method="POST">
                    {% csrf_token %}
                        {{ form.none_field_errors }}
                        {% for field in form %}
                        {{ field }}
                        {{ field.errors }}
                        {% endfor %}
                        <button type="submit" class="login-btn">注册</button>
                    </form>
                    <div class="login-links">
                        <a href="{% url 'users:login' %}">已有账号，点此登陆</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- JavaScript -->
</body>

</html>