{% extends "list_base.html" %}

{% block research_active %}
name="active" class="active"
{% endblock research_active %}

{% block sidebar %}
<li><a href="{% url 'modules:research' RESEARCH %}" class="sidebar-list-item top">{{ name }}</a></li>
{% for each_module in modules %}
<li><a href="{% url 'modules:research' each_module.id %}" class="sidebar-list-item {% ifequal each_module.id sub_module_id  %}active{% endifequal %}">{{ each_module.name }}</a></li>
{% endfor %}
{% endblock sidebar %}

{% block panel_title %}
{{ current_module.name }}
{% endblock panel_title %}

{% block bread %}
<li class="breadcrumb-item"><a href="{% url 'index' %}">首页</a></li>
<li class="breadcrumb-item"><a href="{% url 'modules:research' RESEARCH %}">{{ name }}</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ current_module.name }}</li>
{% endblock bread %}

{% block articles %}
{% for each_article in articles %}
<li class="list-group-item"><a href="{% url 'article' each_article.id %}">
        <span class="list-group-item-title">{{ each_article.title }}</span>
        <span class="list-group-item-date">{{ each_article.pub_date | date:"Y-m-d" }}</span>
    </a></li>
{% endfor %}
{% endblock articles %}